

.heroLogoBg{
  background: linear-gradient(90deg, rgba(24,104,213,1) 70%, rgba(2,0,36,1) 70%);
  height: 400px;
  
}

.qrCode {
  position: absolute;
  right: 160px; 
  bottom: 450px;
  padding-bottom: 60px;
  
}

.par{
  margin: auto;
  width: 90%;
  padding-top: 10px;
  color: white;
}

@media screen and (max-width: 1112px){
  .heroLogo {
    
    visibility: hidden;
  }

  .qrCode {
    visibility: hidden; 
    
  }

  .heroLogoBg{
    visibility: hidden; 
    height: 0px;
  }
}

