

.heroLogoBg{
  background: rgb(41, 26, 105);
  height: 400px;
}

.qrCode {
  position: absolute;
  right: 160px; 
  bottom: 500px;
  padding-bottom: 60px;
  
}

.par{
  margin: auto;
  width: 90%;
  padding-top: 10px;
  color: white;
}

@media screen and (max-width: 1112px){
  .heroLogo {
    
    visibility: hidden;
  }

  .qrCode {
    visibility: hidden; 
    
  }

  .heroLogoBg{
    visibility: hidden; 
    height: 0px;
  }
}

