#model-viewer {
	width: 890px;
	height: 420px;
}

.price{
	font-size: 30px;
	margin-left: 20px;
}

p {
	margin-left: 10px;
	color: rgb(194, 190, 190);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.buyBtn{
	font-weight: 900;
	position: relative; 
	margin-left: 520px;
	width: 100px;
	height: 70px;
	border-radius: 10px;
	background: coral;
	border: none;
	color: white;
	cursor: pointer;
}

.button1 {
	background-color: #e78311; 
	color: white; 
	border: 2px solid white;
  }
  
  .button1:hover {
	background-color: rgb(252, 199, 85);
	color: white;
	
  }

.subHead {
	font-size: 12px;
}

.card {
	margin-left: 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.884);
}
.header{
	margin-left: 10px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media screen and (max-width: 1090px) {
	#model-viewer {
		width: 340px;
		height: 420px;
		
	}
	.buyBtn{
		font-weight: 900;
		position: absolute; 
		margin-left: 250px;
		border-radius: 20px;
		background: coral;
		border: none;
		color: white;
	}
	.card {
		margin-left: 0px
	}
	.header{
		margin-left: 10px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
}

@media screen and (max-width: 375px) {
	#model-viewer {
		width: 340px;
		height: 420px;
		
	}
	.buyBtn{
		font-weight: 200;
		position: absolute; 
		margin-left: 200px;
		border-radius: 20px;
		background: coral;
		border: none;
		color: white;
	}
	.price{
		font-size: 30px;
		margin-left: 20px;
	}
	.header{
		margin-left: 10px;
		font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	}
}


